*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    display: inline;
}


img{
    padding: 10px;
}
.box{
   height: 80px;
    width: 15px;
    padding-top: 20px;
    background-color: blue;
}

.oyekudiv{

    width: 500px;
    height: 300px;
}
.nav{
    /* background-color: yellow; */
    height: 10%;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}


